<section>
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!--<div class="col-md-5">-->
            <!--    <img class="card-img-top mb-5 mb-md-0" src="/assets/about8-8.png" alt="..." />-->
            <!--</div>-->
            <div class="col-md-10">
                <h1 class="text-center m-3">About</h1>
                <p class="h3 text-center">
                    ながのCAKEは全国発送可能なケーキやさんです。<br>
                    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                    様々なバリエーションをご用意しております。<br>
                    また、全国へ発送可能ですので、「いつ」でも「どこ」でも<br>
                    ご注文いただけます。<br>
                    ぜひご注文ください。
                  <div>
                 <div class="card mx-auto" style="width: 400px;"><%= image_tag 'gallet1' %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
