<section>
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!--<div class="col-md-5">-->
            <!--    <img class="card-img-top mb-5 mb-md-0" src="/assets/about8-8.png" alt="..." />-->
            <!--</div>-->
            <div class="col-md-10">
                <h1 class="text-center m-3">About</h1>
                <p class="h3 text-center">
                    ながのCAKEは全国発送可能なケーキやさんです。<br>
                    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                    様々なバリエーションをご用意しております。<br>
                    また、全国へ発送可能ですので、「いつ」でも「どこ」でも<br>
                    ご注文いただけます。<br>
                    ぜひご注文ください。
                  <div>
                 <div class="card mx-auto" style="width: 400px;"><%= image_tag 'gallet1' %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>der-top">上に枠線</p>
        <p class="border-bottom">下に枠線</p>
        <p class="border-right">右に枠線</p>
        <p class="border-left">左に枠線</p>
        <h1>組み合わせて使う</h1>
        <p class="border-top border-bottom">上下に枠線</p>
        <p class="border-right border-left">左右に枠線</p>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
