<div>ショッピングカート</div>

<table class="table table-bordered">

  <%= form_with model: cart_item, url: new_order_path do |f| %>

  <thead class="thead-dark">
    <tr>
     <th>
      商品名
     </th>
     <th>
      単価(税込)
     </th>
     <th>
      数量
     </th>
     <th>
      小計
     </th>
     <th>
     </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        1100
      </td>
      <td>
        1
      </td>
      <td>
        1100
      </td>
      <td>
      </td>

    </tr>

  </tbody>
</table>

<table class="table table-bordered">

  <thead class="thead-dark">

    <tr>
     <th>
      合計金額
     </th>
    </tr>

  </thead>
  <tbody>

    <tr>
     <td>
        1760
     </td>
    </tr>

  </tbody>
</table>

<% end %>

<%= f.submit "情報入力へ進む", class: "btn btn-sm btn-success" %>



