<div>注文情報確認</div>

<table class="table table-bordered">

  <thead class="thead-dark">
    <tr>
     <th>
      商品名
     </th>
     <th>
      単価(税込)
     </th>
     <th>
      数量
     </th>
     <th>
      小計
     </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        1100
      </td>
      <td>
        1
      </td>
      <td>
        1100
      </td>
      <td>
      </td>

    </tr>

  </tbody>
</table>

<table class="table table-bordered">

  <thead  class="thead-dark">

    <tr>
     <th>
      送料
     </th>
    </tr>
    <tr>
     <th>
      商品合計
     </th>
    </tr>
    <tr>
     <th>
      請求金額
     </th>
    </tr>

  </thead>
  <tbody>

    <tr>
     <td>
        1100
     </td>
    </tr>

    <tr>
     <td>
        1
     </td>
    </tr>

    <tr>
      <td>
        1100
      </td>
    </tr>

  </tbody>
</table>

<h2>支払方法</h2>

<h2>お届け先</h2>

<%= link_to '情報入力に進む', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %>